
.loaderContainer {
    z-index: 100;
    bottom: 5%;
    left: 49%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.528);
    border-radius: 8px;
}


.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#ffffff 90%,#ffffff00) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}